body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(50, 50, 50, 0.5);
  }

footer {
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-family: inherit;
    color: rgba(255, 255, 255);
    text-align: center;
}

* {
   box-sizing: border-box;
  }

.title-bold {
    font-weight: bold;
    margin-bottom: 5px;
}

.bg-image {
  /* The image used */
  background-image: url("../img/background.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
    background-color: rgb(222,222,222);
    background-color: rgba(222,222,222, 0.7);
    /* border: 3px solid rgba(40, 40, 40, 0.5); */
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }

.game-canvas2 {
    /*width: 1200px;*/
    height: 70%;
    /*visibility: hidden;*/
    position: absolute;
    top: 30px;
    left: 30px;
}

/* https://stackoverflow.com/questions/982054/how-to-center-an-element-in-the-middle-of-the-browser-window */
.game-canvas {
    width: 30%;
    position: absolute;
    left: 50%;
    margin-left: -15%;
}

#gamepad {
    z-index: 1;
}

#game-frame {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 30%;
    overflow: auto;
}

#group-container {
    background: rgba(187, 187, 187, 0.5);
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 1%;
    width: 40%;
    min-width: 400px;
    height: 50%;
    min-height: 400px;
    border-radius: 5px;
    visibility: hidden;
}

.group {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 1%;
}

.group-name {
    font-family: inherit;
    font-weight: bold;
    padding-bottom: 1%;
}

.group-members {
    font-family: inherit;
}

.group-button {
    /* button button-small button-assertive */
    margin-top: 1%;
    margin-bottom: 10px;
}

#group-id-0 {
    margin-bottom: 10px;
}

#name-modal {
    visibility: hidden;
}
#score-modal {
    visibility: hidden;
}
#score-table {
    text-align:center;
}
#score-name {
    font-family: inherit;
    font-weight: bold;
}


#chat-open-button {
    visibility: hidden;
}

#chat {
    background: rgba(187, 187, 187, 0.5);
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 30%;
    min-width: 300px;
    height: 50%;
    /* border: 3px solid rgba(30, 30, 30, 0.5); */
    border-radius: 10px;
    visibility: hidden;
}

#chat-messages {
    background: transparent;
    position: relative;
    padding: 3%;
    width: 100%;
    height: 90%;
    display: block;
    border-radius: 10px;
    overflow: auto;
}

.msg-other {
    background: rgba(221, 221, 221, 0.5);
    padding: 2%;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
}

.msg-own {
    background: rgba(255, 255, 255, 0.5);
    padding: 2%;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
}

.msg-sender {
    font-weight: bold;
    background: inherit;
    padding: 1%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.msg-txt {
    background: inherit;
    padding: 1%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#chat-input-line {
    position: relative;
    height: 10%;
    padding: 3%;
}

/*
.button-right {
    padding-left: 50%;
    padding: 0px 0px 0px 16px !important;
    border: none;
    vertical-align: middle;
    height: 48px;
    line-height: 48px;
    float: left;
}

#chat-editor {
    background: #fff;
    border-color: #fff;
    padding: 3%;
    width: 90%;
    /*float: left;
    display: block;
}

#chat-send-button {
    background: #6f9;
    /*float: right;
    position: absolute;
    right: 0;
}*/


.text-field-left {
    background: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    padding: 1%;
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
}

.button-right {
    display: table-cell;
    min-width: 50px;
}

#chat-send-button {
    background: rgba(102, 255, 153, 0.5);
    border-radius: 50%;
    /*padding: 10%;
    width: 25px;
    height: 25px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chat-editor {
    height: 100%;
    width: 98%;
    border-color: inherit;
}